.main-footer{
    color: rgba(255,255,255,.5);
    background-color: #343a40;
    padding-top: 3em;
    position: relative;
    bottom: 0%;
    width: 100%;

} 
.row{
    text-align: left;
    margin: auto;
} 

.col{
    text-align: left;
    width:10x 0px;
    margin: auto;
}

.Col-List{
    list-style-type: none;
    text-align: left;
    width:100%;
    margin: auto;
    
}   

.ContactUs{
    border: none;
    color: rgba(255,255,255,.5);
    background-color:#343a40;
    touch-action: none; 
    font-size: larger;
    
}